@import url('registro.css'); /* Reutilizamos tus bases */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Questrial", sans-serif;
}

.chart-container {
    background: #f2e9e0;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myChart {
    max-width: 250px !important;
    max-height: 250px !important;
}

.summary-card {
    background: #8c4c27;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.summary-item:last-child { border: none; }

.expense-text { color: #ffbaba; }
/* NAV INFERIOR */
.bottom-navigation {
    height: 80px;
    background: #bfa38a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-btn { color: white; font-size: 24px; }
.main-money-btn {
    background: #8c4c27;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #bfa38a;
    margin-top: -35px;
}
